<div class="block md:hidden">
    <div class="ml-3 items-center relative">
        <a href="/"
            class="drac-btn drac-bg-purple-transparent drac-btn-ghost drac-text-cyan hover:drac-text-white drac-btn-sm drac-m-sm">Home</a>
    </div>
    <div class="ml-3 items-center relative">
        <a href="/about"
            class="drac-btn drac-bg-purple-transparent drac-btn-ghost drac-text-cyan drac-btn-sm drac-m-sm">About</a>
    </div>
    <div class="ml-3 items-center relative">
        <a href="/archives"
            class="drac-btn drac-bg-purple-transparent drac-btn-ghost drac-text-cyan drac-btn-sm drac-m-sm">Archives</a>
    </div>
    <div class="ml-3 items-center relative">
        <a href="/categories"
            class="drac-btn drac-bg-purple-transparent drac-btn-ghost drac-text-cyan drac-btn-sm drac-m-sm">Categories</a>
    </div>
    <div class="ml-3 items-center relative">
        <a href="https://merch.powers-hell.com"
            class="drac-btn drac-bg-purple-transparent drac-btn-ghost drac-text-cyan drac-btn-sm drac-m-sm">Merch</a>
    </div>
</div>
<div class="hidden md:block">
    <a href="/"
    class="drac-btn drac-bg-purple-transparent drac-btn-ghost drac-text-cyan hover:drac-text-white drac-btn-sm drac-m-sm">Home</a>
<a href="/about"
    class="drac-btn drac-bg-purple-transparent drac-btn-ghost drac-text-cyan drac-btn-sm drac-m-sm">About</a>
<a href="https://merch.powers-hell.com"
    class="drac-btn drac-bg-purple-transparent drac-btn-ghost drac-text-cyan drac-btn-sm drac-m-sm">Merch</a>
</div>


