<script src="{% link /assets/js/app.js %}"></script>
<script src="{% link /assets/js/prism.js %}"></script>
<script type="text/javascript" src="{%link /assets/js/lightbox.js %}"></script>
<link rel="stylesheet" href="{%link /assets/css/lightbox.css %}">
</div>
<div>
    <svg class="wave" viewBox="0 0 1792 95.1" xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink">
        <path
            d="M1792,95.1c0-27,0-54,0-80.9c-40.7-5.1-101.2-11-174.5-12.3c-185.3-3.3-260.9,26.8-411.8,42.6
c-297.5,31.2-285-56-548.1-16.1C536.2,46.6,452.1,77.6,335.5,43C294,30.7,251,10.8,179.2,3C104.9-5,42.2,4.5,0,14.1v80.9H1792z" />
    </svg>
    <footer class="main-overlay drac-bg-blackBlack flex flex-wrap items-center justify-between p-3 m-auto">
        <div class="container mx-auto flex flex-col flex-wrap items-center justify-between">
            <div class="flex mx-auto drac-text-white text-center">
                <span>
                    <p class="drac-text-purple-cyan">
                        {{ site.title }} © {{ site.time | date: '%Y' }}
                    </p>
                </span>
            </div>
            <div class="flex mx-auto drac-text-white text-center">
                <span>
                    <p>
                        made by
                        <a href="https://twitter.com/powers_hell" target="_blank" class="drac-text-yellow">
                            Ben
                        </a>
                        with
                        <a href="https://github.com/tabs-not-spaces/powers-hell-blog" target="_blank"
                            class="drac-text-yellow-pink">
                            code, coffee & beer
                        </a>
                        🍻
                    </p>
                </span>
            </div>
        </div>
    </footer>
</div>