<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1"> {%- seo -%}
    <link rel="stylesheet" href="{% link /assets/css/app.css %}">
    <link rel="stylesheet" href="{% link /assets/css/prism-dracula.css %}">
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.8.2/dist/alpine.min.js" defer></script>
    <script data-ad-client="ca-pub-3537558222002149" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    {% include analytics.html %}
    <style type="text/css">
        :root {
            --dynamic-page-color: {{page.titlecolor | default: site.titlecolor}};
        }
    </style>
</head>