<!-- Right column -->
<div class="hidden lg:block grid grid-cols-1 gap-4">
    <section aria-labelledby="side-panel-title">
        <h2 class="sr-only" id="side-panel-title">Side Panel</h2>
        <div class="main-overlay drac-bg-black rounded-lg shadow-2xl mb-8 overflow-hidden">
            <div class=" drac-bg-animated p-6">
                <img class="object-scale-down" src="/assets/images/static/MVP_Logo_Horizontal_Secondary_Black_CMYK_300ppi.png">

            </div>
            <div class="p-6">
                {%- include post-by-year.html -%}
            </div>
            <hr class="drac-divider drac-border-cyan" />
            <div class="p-6">
                {%- include post-by-cat.html -%}
            </div>
        </div>
        <div class="main-overlay overflow-hidden">
            <div class="p-4">
                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3537558222002149" crossorigin="anonymous"></script>
                <!-- side-menu-ad-unit -->
                <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-3537558222002149" data-ad-slot="9706535569" data-ad-format="auto" data-full-width-responsive="true"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
        </div>
    </section>
</div>