<body>
    <div class="page-container">
      <div class="">
        <nav class="nav sticky drac-bg-blackBlack">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
            <div class="flex items-center justify-between h-16 px-4 sm:px-0">
                <div class="flex items-center">
                <div class="flex-shrink-0 link-hover">
                    <h2 class="drac-heading drac-heading-xl"><a href="/">{{ site.title }}</a></h2>
                </div>
                <div class="hidden md:block">
                    <div class="ml-10 flex items-baseline space-x-4">
                    <div class="drac-text drac-text-cyan drac-text-right drac-line-height">{{ site.description }}
                    </div>
                </div>
                </div>
            </div>
            <div class="hidden sm:block">
                <div class="ml-4 items-center relative">
                <div>
                    <a href="/"
                    class="drac-btn drac-bg-purple-transparent drac-btn-ghost drac-text-cyan hover:drac-text-white drac-btn-sm drac-m-sm"
                    >Home</a>
                    <a href="/about"
                    class="drac-btn drac-bg-purple-transparent drac-btn-ghost drac-text-cyan drac-btn-sm drac-m-sm">About</a>
                    <a href="/merch"
                    class="drac-btn drac-bg-purple-transparent drac-btn-ghost drac-text-cyan drac-btn-sm drac-m-sm">Merch</a>
                </div>
                </div>
            </div>
            </div>
        </div>
        </nav>