
:root {
  --blackBlack: #14141b;
}
.page-container {
  position: relative;
  min-height: 100vh;
}
.drac-bg-blackBlack {
  background-color: var(--blackBlack);
}
body {
  background-color: var(--black);
  font-family: Fira Code, monospace !important;
}
pre {
  white-space: pre-line;
}
.nav {
  top:0;
  z-index:10;
}
.wave {
  position: relative;
  z-index: 1;
}
.main-overlay {
  position: relative;
  z-index: 2;
}
svg>path{
  fill: var(--blackBlack);
}
