
:root {
  --blackBlack: #14141b;
}
.drac-bg-blackBlack {
  background-color: var(--blackBlack);
}
body {
  background-color: var(--black);
  font-family: Fira Code, monospace !important;
}
p {
  margin-bottom: 10px;
}
pre {
  white-space: pre-line;
}
.wave {
  position: relative;
  z-index: 1;
}
.main-overlay {
  position: relative;
  z-index: 2;
}
svg>path{
  fill: var(--blackBlack);
}
