.link-hover a {
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-image: linear-gradient(135deg,#9580ff 0,#80ffea 100%);
    background-image: linear-gradient(var(--gradientDegree),var(--purple) 0,var(--cyan) 100%);
    background-size: 100%;
    -webkit-box-decoration-break: clone;
}
.link-hover a:hover {
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-image: linear-gradient(135deg,#9580ff 0,#80ffea 100%);
    background-image: linear-gradient(var(--gradientDegree),var(--cyan) 0,var(--green) 100%);
    background-size: 100%;
    -webkit-box-decoration-break: clone;
}