@tailwind base;
@layer base {
  .-mt-104 {
    margin-top: -26rem;
  }
  .-mt-112 {
    margin-top: -28rem;

  }
  .markdown-body a {
    color: var(--dynamic-page-color);
  }
  .markdown-body a:hover {
    color: var(--black);
    background-color: var(--dynamic-page-color);
    padding: 1px;
    text-decoration: none;
  }
  .markdown-body {
    font-family: Fira Code, monospace !important;
  }
  .markdown-body ul {
    list-style: none !important;
  }
  .markdown-body ul li::before {
    content: "\2022"; 
    color: var(--dynamic-page-color);
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }
  .markdown-body ol {
    counter-reset: list;
    list-style: none !important;
  }
  .markdown-body ol li {
    counter-increment: list;
  }
  .markdown-body ol li::before {
    content: counter(list)".";
    color: var(--dynamic-page-color);
    font-weight: bold;
    display: inline-flex;
    width: 1em;
    margin-left: -1em;
    margin-right: .5em;
  }
  .markdown-body h2 {
    font-size: var(--font-2xl);
    border-bottom: 0px !important;
  }
  .markdown-body h3 {
    font-size: 1.75em;
  }

  .markdown-body h4 {
    font-size: 1.5em;
  }

  .markdown-body h5 {
    font-size: 1.25em;
  }

  .markdown-body h6 {
    color: #c8c8c8;
    font-size: 1em;
  }
  .markdown-body p {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .post-date p {
    padding-top: 0rem;
    padding-bottom: 1rem;
  }
  .video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
  }
  .video-container iframe, .video-container object, .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
