---
layout: default
title: Post Archives
---

<main class="-mt-4 md:-mt-64 lg:-mt-72 xl:-mt-80 2xl:-mt-96">
    <div class="main-overlay max-w-5xl mx-auto pb-12 px-4 sm:px-6 lg:px-8">
        <div class=" break-normal md:break-word drac-bg-black rounded-lg shadow-2xl px-5 py-6 sm:px-6">
            <article class="markdown-body drac-text drac-line-height line-numbers">
                <ul class="posts">
                    {% for post in page.posts %}
                    <li>
                        <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
                        <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </article>
        </div>
    </div>
    {%- include related.html -%}
</main>