--- 
layout: default 
---
<main class="-mt-4 md:-mt-64 lg:-mt-72 xl:-mt-80 2xl:-mt-96">
    <div class="main-overlay max-w-5xl mx-auto pb-4 px-4 sm:px-6 lg:px-8" id="pagination">
        <div id="termynal" class=" main-overlay drac-text drac-text" data-termynal data-ty-typeDelay="20">
            {{ page.pwshheader }} {%- for line in page.lines -%}
            <span class="{{ line.line.class }}" data-ty="{{ line.line.formatting }}" data-ty-prompt="{{ line.line.bell }}">{{ line.line.message }}</span> {%- endfor -%} {{ page.footer | flatify}}
        </div>
    </div>
    {%- include ads-horizontal.html -%}
</main>
<script src="{%link /assets/js/termynal.js %}" data-termynal-container="#termynal"></script>