---
layout: default
---
<main class="-mt-4 md:-mt-64 lg:-mt-72 xl:-mt-80 2xl:-mt-96">
    <div class="main-overlay max-w-5xl mx-auto pb-12 px-4 sm:px-6 lg:px-8" id="pagination">
        <div id="termynal" class=" main-overlay drac-text drac-text" data-termynal data-ty-typeDelay="20">
            <span data-ty="input" data-ty-prompt=">">Hi, my name is Jairo Medrano but you can just call me
                Urienix.</span>
            <span data-ty="input" data-ty-prompt=">">I'm a software developer.</span>
            <span data-ty="input" data-ty-prompt=">">Linux user and open source lover.</span>
            <span data-ty="input" data-ty-prompt=">">Currently learning Typescript & ReactJS.</span>
            <span data-ty="input" data-ty-prompt=">">I like to code with pancakes 🥞 and coffee ☕.</span>
            <span data-ty="input" data-ty-prompt=">">I hope you find fun in this site.</span>
            <span data-ty></span>
            <span data-ty="input" data-ty-prompt="" style="text-align: right;">Sincerely, Urienix :^)</span>
        </div>
    </div>
</main>