--- 
layout: default 
---
<main class="-mt-4 md:-mt-64 lg:-mt-72 xl:-mt-80 2xl:-mt-96">
    <div class="max-w-3xl mx-auto px-4 sm:px-6 lg:max-w-7xl lg:px-8">
        <!-- Main 3 column grid -->
        <div class="grid grid-cols-1 gap-4 items-start lg:grid-cols-3 lg:gap-8">
            <!-- Left column -->
            <div class="grid grid-cols-1 gap-4 lg:col-span-2">
                {%- for post in paginator.posts -%}
                <div class="main-overlay drac-bg-black rounded-lg shadow-2xl overflow-hidden">
                    <div class="p-6">
                        {%- assign date_format = site.date_format | default: "%-d %b" -%}
                        <a href="{{ post.url | relative_url }}">
                            <h2 class="drac-heading drac-heading-xl drac-text-purple-cyan">
                                {{ post.title | escape }}
                            </h2>
                        </a>
                        <div class="drac-text-black-secondary">Published on:
                            <font class="drac-text-cyan">{{ post.date | date: date_format }}</font>
                        </div>
                        <div class="markdown-body drac-text drac-line-height drac-text-white">
                            {{ post.excerpt }}
                        </div>
                    </div>
                </div>
                {%- endfor -%}
            </div>

            <!-- Right column -->
            <div class="grid grid-cols-1 gap-4">
                <section aria-labelledby="section-2-title">
                    <h2 class="sr-only" id="section-2-title">Pagination</h2>
                    <div class="main-overlay drac-bg-black rounded-lg shadow-2xl overflow-hidden">
                        <div class="p-6">
                            <!-- Your content -->
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    {%- include ads-horizontal.html -%} 
    {%- include paginate.html -%}
</main>