--- 
layout: default 
---

<main class="-mt-4 md:-mt-64 lg:-mt-72 xl:-mt-80 2xl:-mt-96 4xl:-mt-112">
    <div class="main-overlay max-w-5xl mx-auto pb-12 px-4 sm:px-6 lg:px-8">
        <div class=" break-normal md:break-word drac-bg-black rounded-lg shadow-2xl px-5 py-6 sm:px-6">
            <article class="markdown-body drac-text drac-line-height line-numbers">

                <p class="post-date drac-text drac-text-xs">
                    {%- assign date_format = site.post_date_format | default: "%b %-d, %Y" -%}
                    <font class="drac-text-black-secondary">Published:</font>
                    <font class="drac-text-{{ page.titlecolor | default: site.titlecolor }}"> {{ page.date | date: date_format }}</font>
                    <br/>
                    <font class="drac-text-black-secondary">File under:</font>
                    {%- include catlist.html -%}
                </p>
                {% if page.image %}
                <span>
          <a href="{{ page.image }}" title="Hero Image"><img src="{{ page.image }}" alt="{{ page.title }}"></a>
        </span> {% endif %} {{ content }}
            </article>
        </div>
    </div>
    {%- include ads-horizontal.html -%}
    {%- include related.html -%} 
    {%- include utterances.html -%}
</main>